body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background: linear-gradient(135deg, #3f3a3a, #d8d6d4);
}

h1 {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
     color: #0e0d0d;
}

#game {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin: 20px auto;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #f5efef;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0)
    cursor: pointer;
    transition: background 0.3s;
}

.cell:hover {
    background-color: #494646;
}

#status {
    font-size: 2rem;
    margin: 20px 0;
    color: #000000;
}

#reset {
  display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: rgb(238, 242, 245);
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid rgb(129, 134, 130);
    transition: 0.3s ease;
    cursor: pointer;
}

#reset:hover {
    
   background-color: azure;
color: rgb(18, 138, 203);
border: 2px solid rgb(9, 9, 9);
box-shadow: 5px 5px 0px rgb(65, 68, 66);
}
#reset:active{
    background-color: rgb(13, 13, 14);
    box-shadow: none;
    transform: translateY(4px);